<h1>Edit <%= @idea.title %></h1>
<% if @idea.errors.any? %>
	<h1><%=@idea.errors.full_messages.join(", ") %></h1>

<%end%>
<form action="<%= idea_path @idea %>" method="post">
	<input type="hidden" name="_method" value="put">
	<%= render "form" %>
</form>
