<h1>Create new Idea</h1>
<% if @idea.errors.any? %>
	<h1><%=@idea.errors.full_messages.join(", ") %></h1>

<%end%>
<form action="<%= ideas_path %>" method="post">
<input type="text" name="title" >
<textarea name="description" cols="40" rows="8"></textarea>
<input type="text" name="planned_to">
<button type="submit" >Kaydet</button>
</form>
